* {
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.header__menu {
  padding: 10px;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.conteiner__menu-link {
  display: flex;
  justify-content: space-between;
  width: 540px;
}
.menu__link {
  font-family: Jost;
  font-weight: 400;
  text-decoration: none;
  color: black;
}
.menu__link--color {
  color: #cda274;
}
.section {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section__title {
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: 0.22px;
  font-family: "DM Serif Display";
  color: #292f36;
  margin-bottom: 30px;
}
.section-item {
  width: 600px;
}
.section__text {
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  margin-bottom: 30px;
}
.background-image {
  margin: auto;
  background-size: cover;
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 831px;
  background-image: url(./image/bag-img.png);
  background-position: center;
}
.section__button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 34px;
  background-color: #292f36;
  border-radius: 18px;
  text-decoration: none;
  color: white;
  font-family: Jost;
  gap: 20px;
}
.section__button:hover {
  animation-name: section-button;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}
.content__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292f36;
  margin-bottom: 17px;
}
.content__text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin-bottom: 50px;
}
.content__text--margin {
  margin-bottom: 30px;
}
.content__link {
  text-decoration: none;
  font-family: "Jost";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #4d5053;
  display: flex;
  justify-content: space-between;
  width: 130px;
  margin: auto;
}
.content {
  display: flex;
  justify-content: space-between;
  margin-top: 209px;
}
.content__item {
  max-width: 320px;
  text-align: center;
}
.section--margin {
  margin-top: 140px;
}
.section__title--fz {
  font-size: 50px;
  line-height: 65px;
}
.section-item--wz {
  width: 451px;
}
.section__image {
  display: block;
}
.section__icon {
  width: 24px;
  height: 24px;
  fill: #cda274;
  display: block;
  margin-left: 10px;
}
.section__conteiner-image {
  position: relative;
  overflow: hidden;
  border-radius: 0 326px 0 123px;
}
.section__conteiner-image:hover .section__image-animation {
  animation-name: animation-image;
  animation-duration: 2s;
  opacity: 0.7;
  background-color: orange;
  margin-top: -635px;
}
.section__image-animation {
  width: 100%;
  height: 100%;
  position: absolute;
  transition-duration: 2s;
  opacity: 0.7;
  background-color: orange;
  margin-top: 635px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__conteiner-animation {
  text-transform: uppercase;
  margin: 0 10px;
  font-family: Jost;
}
.section__animation-icon {
  width: 56px;
  height: 56px;
}
.Mesenger {
  background-color: #f4f0ec;
  border-radius: 70px;
  min-height: 675px;
  padding-top: 103px;
}
.Mesenger__item {
  width: 318px;
  background-color: white;
  border-radius: 30px;
  padding: 50px 20px;
}
.Mesenger__conteiner-item {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
}
.Mesenger__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292f36;
  width: 479px;
  margin: auto;
  margin-bottom: 45px;
}
.Mesenge__text {
  font-family: "Jost";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin: 25px 0;
  width: 244px;
}
.Mesenger__info-pupils {
  display: flex;
}
.Mesenger__title-info {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.22px;
  color: #292f36;
  margin-left: 20px;
}
.Mesenger__subtitle-info {
  font-family: "Jost";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin-left: 20px;
}
.conteiner-brands {
  display: flex;
  justify-content: space-between;
  margin-top: 186px;
}
.title {
  margin-top: 113px;
  font-weight: 400;
  font-size: 47px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292f36;
}
.subtitle {
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin: auto;
  letter-spacing: 0.22px;
  color: #4d5053;
  max-width: 786px;
  text-align: center;
  margin-bottom: 70px;
}
.conteiner-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}
.card {
  width: 590px;
}
.card__image {
  margin-bottom: 25px;
  display: inline-block;
}
.card__conteiner-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.22px;
  color: #292f36;
}
.card__subtitle {
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
}
.card__icon:hover {
  animation-name: card-icon;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.price {
  background: #f4f0ec;
  min-height: 475px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-conteiner {
  display: flex;
  justify-content: space-between;
}
.price-item {
  width: 288px;
  border-right: 1px solid #cda274;
}
.price-item--brnone {
  border: none;
}
.price__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 85px;
  line-height: 128px;
  text-align: center;
  letter-spacing: 1.7px;
  color: #cda274;
}
.price__subtitle {
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4d5053;
}
.conteiner-card-2 {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.card-2 {
  padding: 21px;
  max-width: 324px;
  border: 1px solid #e7e7e7;
  border-radius: 62px;
}
.card-2__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.5px;
}
.card-2__subtitle {
  font-family: "Jost";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.22px;
  color: #4d5053;
}
.card-2__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  margin-top: 34px;
}
.card-2__image {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  max-width: 324px;
}
.info__title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #ffffff;
}
.info__subtitle {
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #ffffff;
  margin-bottom: 31px;
}
.info__button {
  margin: auto;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: white;
  background: #cda274;
  border: 2px solid #cda274;
  box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  gap: 15px;
  text-align: center;
  padding: 21px 34px;
}
.conteiner__info-button {
  margin: auto;
  width: 228px;
}
.info {
  background: #292f36;
  border-radius: 70px;
  min-height: 414px;
  margin-top: 150px;
  padding-top: 100px;
}
.fhooter-content {
}
.conteiner__fhooter-icon {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fhooter__text {
  text-align: start;
  max-width: 326px;
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin-bottom: 15px;
  margin-bottom: 30px;
}
.fhooter__title {
  text-align: start;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.22px;
  color: #292f36;
  margin-bottom: 30px;
}
.fhooter {
  display: flex;
  justify-content: space-between;
  margin-top: 209px;
}
.info__button:hover{
  animation-name: section-button;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes card-icon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes section-button {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@media (max-width: 1200px) {
  .card {
    margin: auto;
  }
}
@media (max-width: 1100px) {
  .section__conteiner-image {
    display: none;
  }
  .section-item {
    margin: auto;
  }
  .card__image {
    width: 100%;
    display: block;
  }

  .Mesenger__conteiner-item {
    flex-direction: column;
    margin: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 970px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 140px;
  }
  .fhooter-content--none {
    display: none;
  }
}

@media (max-width: 750px) {
  .header__icon {
    margin: auto;
  }
  .card {
    width: 400px;
  }
  .conteiner__menu-link {
    margin: auto;
  }
  .section__title {
    font-size: 50px;
    line-height: normal;
  }
  .section__text {
    width: initial;
    font-size: 18px;
  }
  .conteiner-brands {
    display: none;
  }
  .content {
    background-position: center;
  }
}
@media (max-width: 530px) {
  .Mesenger__title {
    font-size: 30px;
    width: 350px;
  }
  .fhooter {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
@media (max-width: 430px) {
  .section__title {
    font-size: 25px;
  }
  .section__text {
    font-size: 16px;
    line-height: normal;
  }
  .price-conteiner {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .price-item {
    border-right: none;
    border-bottom: 1px solid #cda274;
  }
  .Mesenger__item {
    max-width: 250px;
    padding: 30px 15px;
  }
  .Mesenger__title {
    line-height: normal;
    width: 270px;
  }
}
@media (max-width: 360px) {
  .content__text {
    font-size: 18px;
  }
}
@media (max-width: 350px) {
  .menu__link--noneudp {
    display: none;
  }
  .price-item {
    width: 270px;
  }
}
